{% extends 'base.html' %}

{% block conteudo %}
<div style="margin-top: 25px;">
  <div class="d-flex justify-content-between align-items-center mb-4">
    <h3>Atendimentos</h3>
  </div>
  <div class="d-flex justify-content-between align-items-center mb-2">
    <div class="card mb-4 shadow-sm border-0">
      <div class="card-body">
        <div class="row g-2">
          <div class="col-md-4">
            <input type="text" class="form-control" placeholder="Buscar atendimento...">
          </div>

          <div class="col-md-2">
            <select class="form-select">
              <option>Procedimento</option>
            </select>
          </div>

          <div class="col-md-2">
            <input type="date" class="form-control">
          </div>

          <div class="col-md-2">
            <button class="btn btn-outline-primary w-100 botao">Filtrar</button>
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-end"> 
        <button class="btn btn-primary" onclick="abrirModalAtendimento()">+ Novo atendimento</button>
    </div>
  </div>
  <div class="container-fluid">
    <div class="table-responsive">
      <table class="table table-striped">
        <thead>
          <tr>
            <th class="text-center">ID</th>
            <th class="text-center" style="max-width: 40px">PRONT.</th>
            <th class="text-center" style="max-width: 120px">PACIENTE</th>
            <th class="text-center" style="max-width: 50px">DATA</th>
            <th class="text-center" style="max-width: 120px">PROFISSIONAL</th>
            <th class="text-center" style="max-width: 100px">PROCEDIMENTOS</th>
          </tr>
        </thead>

        <tbody>
          {% for a in atendimentos %}
          <tr>
            <td class="text-center">{{ a[0] }}</td>
            <td class="text-center">{{ a[1] }}</td>
            <td class="text-center">
              <strong>{{ a[2] or 'Paciente nao encontrado' }}</strong>
            </td>
            <td class="text-center">{{ a[3] }}</td>
            <td class="text-center">{{ a[4] }}</td>
            <td class="text-center td-procedimento">
              <div class="truncate-2-lines">
                {{ a[5] }}
              </div>
            </td>

          </tr>
          {% else %}
          <tr>
            <td colspan="8" class="text-center text-muted">Nenhum atendimento cadastrado.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
</div>

<div id="modalAtendimento" class="modal">
  <div class="modal-content">
    <span class="close" onclick="fecharModalAtendimento()">&times;</span>
    <h2>Registrar Atendimento</h2>

    <div>
      <label>Prontuario:</label>
      <input type="text" id="prontuario_atendimento" inputmode="numeric" required>

      <label>Nome do Paciente:</label>
      <input type="text" id="nome_paciente_atendimento" readonly>

      <label>Data:</label>
      <input type="date" id="data_atendimento" required>

      <label>Profissional:</label>
      <input type="text" id="profissional_atendimento" maxlength="120" required>

      <label>Procedimentos:</label>
      <div class="checkbox-group">
        <label><input type="checkbox" name="procedimentos_atendimento" value="Acolhimento inicial">Acolhimento Inicial</label>
        <label><input type="checkbox" name="procedimentos_atendimento" value="Acolhimento Diurno">Acolhimento Diurno</label>
        <label><input type="checkbox" name="procedimentos_atendimento" value="Atendimento Individual">Atendimento Individual</label>
        <label><input type="checkbox" name="procedimentos_atendimento" value="Atendimento em Grupo">Atendimento em Grupo</label>
        <label><input type="checkbox" name="procedimentos_atendimento" value="Atendimento Familiar">Atendimento Familiar</label>
        <label><input type="checkbox" name="procedimentos_atendimento" value="Visita Domiciliar">Visita Domiciliar</label>
        <label><input type="checkbox" name="procedimentos_atendimento" value="Articulação de Rede">Articulação de Rede</label>
        <label><input type="checkbox" name="procedimentos_atendimento" value="Fortalecimento do Protagonismo">Fortalecimento do Protagonismo</label>
        <label><input type="checkbox" name="procedimentos_atendimento" value="Práticas Corporais">Práticas Corporais</label>
        <label><input type="checkbox" name="procedimentos_atendimento" value="Práticas Expressivas">Práticas Expressivas</label>
        <label><input type="checkbox" name="procedimentos_atendimento" value="Atividade em Grupo">Atividade em Grupo</label>
        <label><input type="checkbox" name="procedimentos_atendimento" value="Falta"> Falta</label>
      </div>

      <label>Ofertado acolhimento 24h?</label>
      <select id="acolhimento_24h">
        <option value="">Selecione</option>
        <option value="Sim">Sim</option>
        <option value="Nao">Nao</option>
      </select>

      <label>Paciente aceitou?</label>
      <select id="paciente_aceitou">
        <option value="">Selecione</option>
        <option value="Sim">Sim</option>
        <option value="Nao">Nao</option>
        <option value="Nao se aplica">Nao se aplica</option>
      </select>

      <label>Observacoes:</label>
      <textarea id="observacoes_atendimento" rows="4" maxlength="1000"></textarea>

      <br><br>

      <button type="button" id="btnSalvarAtendimento" onclick="salvarAtendimento()">
        Salvar Atendimento
      </button>
    </div>
  </div>
</div>
{% endblock %}
