<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Cadastro</title>
</head>
<body>

    <h2>Criar Usuário</h2>

    <form action="/cadastrar_usuario" method="post">
        <input type="text" name="name" placeholder="Usuário" required><br><br>
        <input type="text" name="cpf" placeholder="CPF" required><br><br>
        <input type="email" name="e-mail" placeholder="E-mail" required><br><br>
        <input type="password" name="senha" placeholder="Senha" required><br><br>

        <button type="submit">Cadastrar</button>
    </form>

    <br>
    <a href="/">Voltar para login</a>

</body>
</html>