<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Login</title>
</head>
<body>

    <h2>Sistema Ambulatorial</h2>

    <form action="/logar" method="post">
        <input type="text" name="username" placeholder="Usuário" required><br><br>
        <input type="password" name="senha" placeholder="Senha" required><br><br>

        <button type="submit">Entrar</button>
        
        <a href="/cadastro">Criar conta</a>
    </form>

</body>
</html>